.DS_Store
.cache/
.nextflow/
.nextflow.log*
work/
results/
data/raw/*.xlsx
data/raw/*.zip
data/processed/*.csv
models/
__pycache__/
*.py[cod]
.ipynb_checkpoints/

!results/
!results/.gitkeep
!results/figures/
!results/figures/.gitkeep
!results/tables/
!results/tables/.gitkeep
